/*
2023-02-24
App.css

*/

/* Navbar */
nav a.navlink:any-link {
    color: black;
    display: inline-block;
    text-decoration: underline;
}

nav a.navlink:hover {
    color: #0040ff;
}
nav a.navlink.active {
    background-color: aqua;
}

.profile table {
    border: 1px solid green;
}

.profile table th {
    text-align: left;
    border-bottom: 1px solid black;
}

.profile table td {
    text-align: center;
}
